<launch>
  <node pkg="localization_sp24" type="sim_node" name="a_normal_name">
    <!-- POG! -->
  </node>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam command="load" file="$(find localization-sp24)/params/sim.yaml" />
    <remap from="odometry/filtered" to="/rahul/jason" />
  </node>
</launch>
